<%= form_tag sessions_path do |f| %>
  <div class="field">
    <%= label_tag :Username %>
    <%= text_field_tag :username %>
  </div>
  <div class="actions">
    <%= submit_tag 'Login'%>
  </div>
<% end %>
